@import url(https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  line-height: 1.5;
  color: #24292f;
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
